<h1>Transportadoras</h1>

<div>
  <%= link_to 'Cadastrar nova transportadora', new_shipping_company_path %>
</div>

<div>
  <% if @shipping_cos.empty? %>
    Nenhuma transportadora cadastrada.
  <% else %>
    <ul>
      <% @shipping_cos.each do |company| %>
        <li>
          <%= link_to company.name, company %>
          |
          <%= link_to t('.rates'), shipping_company_shipping_rates_path(company) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>