<h1>Ordens de Serviço</h1>

<div class='container'>
  <% @building_blocks.each do |box| %>
    <div class='<%= box[:css_class] %>'> 
      <h4><%= box[:title] %></h4>
      <% if box[:collection].empty? %>
        <p>Nenhuma ordem de serviço.</p>
      <% else %>
        <ul>
          <% box[:collection].each do |order| %>
            <li>ID: <%= order.id %> | <%= link_to 'detalhes', order %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>