<nav>
  <%= link_to t('.my_company'), current_user.shipping_company ? shipping_company_path(current_user.shipping_company) : '#' %>
  <%= link_to t('.my_service_orders'), service_orders_path %>
  <%= link_to t('.my_rates_and_times'), '#' %>
  <%= link_to t('.my_distribution_points'), '#' %>
</nav>